@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-display: "Graphik Light", "Graphik Light Placeholder", sans-serif;
}

.panel {
  height: 100vh;
  position: sticky;
  top: 0;
}

.bubble {
  position: absolute;
  color: white; /* Tailwind gray-800 */
  font-size: 0.875rem; /* text-sm */
  padding: 0.75rem; /* p-3 */
  border-radius: 9999px; /* rounded-full */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  animation: floatWiggle 3s ease-in-out infinite;
}

@keyframes floatWiggle {
  0%, 100% {
      transform: translateY(0) rotate(0deg);
  }
  25% {
      transform: translateY(-5px) rotate(2deg);
  }
  50% {
      transform: translateY(-10px) rotate(0deg);
  }
  75% {
      transform: translateY(-5px) rotate(-2deg);
  }
}

  
@keyframes wave {
0% { transform: rotate(0deg); }
15% { transform: rotate(20deg); }
30% { transform: rotate(-10deg); }
45% { transform: rotate(20deg); }
60% { transform: rotate(-10deg); }
75% { transform: rotate(0deg); }
100% { transform: rotate(0deg); }
}

.wave-hand {
display: inline-block;
animation: wave 1.5s infinite;
transform-origin: 70% 70%;
}